@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #2563eb;
  --muted: #6a7282;
}

.dark {
  --background: #383838;
  --foreground: #ededed;

  --primary: #2B7FFF;
  --muted: #ccd1db;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.25s ease, color 0.25s ease;
}



/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
